#team-carousel .swiper {
  width: 100%;
  height: 100%;
}

/* #team-carousel .swiper-slide .swiper-slide-active {
    background: #19c713;
    width: 12px;
} */

#team-carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* height: 22.5rem; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#team-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
