@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .clip-style-v1 {
    clip-path: inset(0% 0% 0% 0% round 60% 0% 30% 70%);
  }
  .clip-style-v2 {
    clip-path: inset(0% 0% 0% 0% round 25% 0% 30% 70%);
  }
  .clip-style-v3 {
    clip-path: inset(0% 0% 0% 0% round 20% 0% 0% 40%);
  }
} 
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
